apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mysql-pvc
  labels:
    app: mysql
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: {{ .Release.Namespace }}-local-storage
  resources:
    requests:
      storage: 2Gi
  selector:
    matchLabels:
      store: {{ .Release.Namespace }}
