apiVersion: v1
kind: ResourceQuota
metadata:
  name: store-quota
  namespace: {{ .Release.Namespace }}
spec:
  hard:
    requests.cpu: "1"
    requests.memory: 1Gi
    limits.cpu: "2"
    limits.memory: 2Gi
    pods: "10"
    persistentvolumeclaims: "5"
