global:
  environment: local
  ingressDomainSuffix: "local"

backend:
  replicaCount: 1
  image:
    repository: store-provisioner-backend
    pullPolicy: IfNotPresent
    tag: "latest"
  resources:
    limits:
      cpu: 500m
      memory: 512Mi
    requests:
      cpu: 100m
      memory: 128Mi
